# stuff that doesn't make sense in mutt-kz
macro index S "<enter-command>unset wait_key<enter><shell-escape>~/.bin/mutt-notmuch-py ~/mail/temporary/search<enter><change-folder-readonly>+temporary/search<enter>" "search mail (using notmuch)"
source ~/.mutt/mailboxes
