[submodule "zprezto/.zprezto"]
	path = zprezto/.zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "spacemacs"]
	path = common/.emacs.d
	url = https://github.com/syl20bnr/spacemacs.git
