[submodule "zprezto/.zprezto"]
	path = zprezto/.zprezto
	url = https://github.com/sorin-ionescu/prezto.git
# [submodule "doom"]
	# path = common/.emacs.d
	# url = https://github.com/hlissner/doom-emacs.git
[submodule "zlong_alert.zsh"]
	path = zlong_alert.zsh
	url = https://github.com/kevinywlui/zlong_alert.zsh.git
