common/.mutt/mailboxes
common/.config/i3/scripts/i3.pyc
common/.purple/logs/
common/.config/ranger/history
common/.config/ranger/tagged
common/.config/ranger/bookmarks
common/.config/ranger/commands.pyo
