common/.mutt/mailboxes
common/.mutt/certificates
common/.config/i3/scripts/i3.pyc
common/.purple/logs/
common/.config/ranger/history
common/.config/ranger/tagged
common/.config/ranger/bookmarks
common/.config/ranger/commands.pyo
common/.purple/blist.xml
common/.config/i3/scripts/dzshmenu/current_session
common/.config/enchant/
common/.config/gtk-2.0/
common/.config/libreofficedev/
common/.config/vlc/
common/.config/yoshimi/
common/.purple/accounts.xml
common/.purple/prefs.xml
common/.config/Trolltech.conf
common/.config/gajim/
common/.config/jack/
common/.purple/status.xml
*.spacemacs#
/common/.config/qutebrowser/qsettings/QtProject.conf
/common/.config/qutebrowser/autoconfig.yml
common/.config/qutebrowser/bookmarks
common/.config/qutebrowser/quickmarks
*.old
/common/.config/QtProject.conf
/common/.config/fish/fishd.compnix
/common/.config/rncbc.org/
/audio/.config/ardour5/session.rc
/audio/.config/ardour5/Ardour_announcements_*
/audio/.config/ardour5/.translate
/audio/.config/ardour5/recent*
/audio/.config/ardour5/instant.xml
/thinknix/.config/rncbc.org/QmidiNet.conf
/thinknix/.config/rncbc.org/Qsynth.conf
/thinknix/.config/rncbc.org/drumkv1.conf
/thinknix/.config/rncbc.org/padthv1.conf
/thinknix/.config/rncbc.org/samplv1.conf
/thinknix/.config/rncbc.org/synthv1.conf
/common/.config/mpv/watch_later/
/common/.config/ranger/__pycache__/
/common/.config/ranger/plugins/__pycache__/
