[submodule "spf13-vim-3/.spf13-vim-3"]
	path = spf13-vim-3/.spf13-vim-3
	url = https://github.com/spf13/spf13-vim.git
[submodule "zprezto/.zprezto"]
	path = zprezto/.zprezto
	url = https://github.com/sorin-ionescu/prezto.git
