body {
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
}
iframe,video,img {
    -webkit-filter: invert(1) hue-rotate(180deg);
    filter: invert(1) hue-rotate(180deg);
}




/* body :not(img) { */
    /* -webkit-filter: hue-rotate(180deg); */
/* filter: hue-rotate(180deg); */
/* } */
/* iframe,video,img { */
/* -webkit-filter: invert(1) !important; */
/* filter: invert(1) !important; */
/* } */
