body {
    -webkit-filter: hue-rotate(180deg) !important;;
    filter: hue-rotate(180deg) !important;;
}
img {
    -webkit-filter: invert(1) hue-rotate(180deg) !important;
    filter: invert(1) hue-rotate(180deg) !important;
}




/* body :not(img) { */
/* -webkit-filter: hue-rotate(180deg); */
/* filter: hue-rotate(180deg); */
/* } */
/* iframe,video,img { */
/* -webkit-filter: invert(1) !important; */
/* filter: invert(1) !important; */
/* } */
