/* html { */
/* -webkit-filter: invert(1); */
/* filter: invert(1); */
/* } */

body {
    background-color: white;
    -webkit-filter: invert(1);
    filter: invert(1);
}

/* img { */
/* -webkit-filter: invert(1); */
/* filter: invert(1); */
/* } */
