[user]
	email = bart@magnetophon.nl
	name = Bart Brouns
[annex]
	uuid = 9e14d713-cdab-4fd1-9d28-e6a323ed9686
	version = 5
	largefiles = not mimetype=text/*
	securehashesonly = true
	numcopies = 3
	alwayscommit = false
	autocommit = false
# [remote "box.com"]
	# annex-cost = 200
	# annex-trustlevel = untrusted
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
	ui = true
[gc]
	auto=1
[merge]
	summary=true
	conflictStyle = diff3
[github]
	oauth-token = 99794feadef4e1de9fce4121e2d346ac98963ec0
	user = magnetophon
[pager]
	diff = diff-so-fancy | less --tabs=2 -RFX
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[core]
	compression = 0
	packedGitLimit = 100m
	packedGitWindowSize = 100m
[pack]
	windowMemory = 512m
	SizeLimit = 100m
	threads = 1
	window = 0
	deltaCacheSize = 512m
	packSizeLimit = 512m
