[Desktop Entry]
Type=Application
Name=Emacs Client
GenericName=Editor
Comment=Launches emacsclient in a new window
Icon=Icon=emacs
Exec=emacsclient --create-frame %F
TryExec=emacs
Terminal=false
Type=Application
StartupNotify=true